/**
 * /* 스킵 메뉴
 *
 * @format
 */

#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5px;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

/* container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* section 공통 요소 */
.section {
  padding: 120px 0;
}

.section > h2 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.section > p {
  font-size: 22px;
  font-weight: 300;
  color: #666;
  text-align: center;
  margin-bottom: 70px;
  padding: 0 20px;
  word-break: keep-all;
  line-height: 1.5;
}

.section > span {
  display: block;
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 20px;
}

input::placeholder {
  font-size: 18px;
}

@media (max-width: 960px) {
  .section {
    padding: 100px 0;
  }

  .section > h2 {
    font-size: 40px;
  }

  .section > p {
    font-size: 18px;
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 80px 0;
  }

  .section > h2 {
    font-size: 30px;
  }

  .section > p {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

/* font */
.score {
  font-family: "SCoreDream";
  font-weight: 300;
}

.poppins {
  font-family: "Poppins";
  font-weight: 400;
}

.chosun {
  font-family: "ChosunSm";
}

/* 배경 */
.gray {
  background-color: #f5f5f5;
}

body {
  overflow: overlay;
}

/* fixed */
body.fixed {
  height: 100vh;
  overflow: hidden;
}

/* 간격 세팅 */
.mb0 {
  margin-bottom: 0px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}
